@charset "ISO-8859-1";
*
{
	margin:0px;
	font-family: ff-tisa-sans-web-pro, sans-serif;
    font-style: normal;
    text-align:center;
    box-sizing:inherit;
}
html
{
	height:100%;
	box-sizing: border-box;
}
body
{
	min-height:100%;
	min-width:100%;
}
header
{
  padding:20px;
  left:0px;
  top:0px;
  text-align: center;
  margin:auto;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}
.name
{
  position:absolute;
  top:0;
  right:0;
}
tr:first-child:hover {
    background-color:initial;
}
tr:hover 
{
	background-color:skyblue;
}
input[type=submit],input[type=button],button
{
	padding:5px;
	background:#8F00FF;
	color:white;
	border-radius:20px;
	font-size:15px;
	font-weight:bold;
}
.logout
{
	margin-top:10px;
}
input[type=submit],input[type=button]
{
	padding:15px 20px;
}
#back
{
	padding:10px 15px;
	font-size:20px;
	transition:0.5s;
}
#back:hover
{
  background:#50C878;
}
#back::before
{
  background:linear-gradient(90deg, transparent,#fff,transparent);
}

table
{
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	background:	#FFFFEA;
	border-radius:20px;
	border-spacing: auto;
	border-collapse: collapse;
	margin: auto;
}

tr{
	border-bottom:2px solid black;
}
tr:last-child
{
	border-bottom:0px;
}
td,th
{
	padding:20px;
}
.table
{
	position:relative;
	margin:1px solid black;
	
}
footer {
	position:relative;
	bottom: 0px;
	width: 100%;
	background-color: grey;
	color: white;
	text-align: center;
	padding:15px;
}